div.OsApp {
    box-sizing: border-box;
    margin: 0 1rem;
}

div.OsAppBackground {
    background-color: slateblue;
    border-bottom: 2px solid grey;
    border-left: 2px solid grey;
    border-radius: 1rem;
    border-right: 2px solid white;
    border-top: 2px solid white;
    box-sizing: border-box;
    display: inline-block;
    height: 17vh;
    width: 30vw;
}

div.OsAppTitle {
    text-align: center;
}

div.OsAppTitle h3 {
    margin: 0.4rem 0 1.6rem;
}
