div.appGroupSmallPlaceholder {
    box-sizing: border-box;
    height: 40%;
    margin: 1rem 5% 0;
    width: 40%;
}

div.appGroupBig {
    height: 19rem;
    left: calc(50% - 9.5rem);
    position: fixed;
    top: calc(50% - 13.8rem);
    width: 19rem;
    z-index: 10;
}

div.appGroupBigBackground {
    background-color: rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    border-radius: 1rem;
    border-right: 1px solid white;
    border-top: 1px solid white;
    box-sizing: border-box;
    display: inline-block;
    height: 100%;
    width: 100%;
}

div.appGroupBigContainer {
    align-content: flex-start;
    background-size: auto;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    overflow: hidden;
    padding: 0.4rem;
    width: 100%;
}

div.appGroupBigTitle {
    display: block;
    text-align: center;
}

div.appGroupBigTitle h1 {
    font-weight: 100;
}


div.backGroundBlur {
    opacity: 0.8;
    filter: blur(5rem);
    background-color: black;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
}

div.osAppGroupDimBehind {
    background-color: #222222;
    height: 100%;
    left: 0;
    opacity: 0.9;
    position: fixed;
    top: 1.5rem;
    width: 100%;
    z-index: 2;
}
