div.appGroupSmallPlaceholder {
    box-sizing: border-box;
    height: 40%;
    margin: 1rem 5% 0;
    width: 40%;
}

div.appGroupBig {
    height: 40%;
    left: 10%;
    position: fixed;
    top: 20%;
    width: 80%;
}

div.appGroupBigBackground {
    background-color:black;
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    border-radius: 1rem;
    border-right: 1px solid white;
    border-top: 1px solid white;
    box-sizing: border-box;
    display: inline-block;
    height: 100%;
    width: 100%;
}

div.appGroupBigContainer {
    align-content: flex-start;
    align-items: center;
    background-size: auto;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

div.appGroupBigTitle {
    display: block;
    text-align: center;
}

div.appGroupBigTitle h1 {
    font-weight: 100;
}


div.backGroundBlur {
    opacity: 0.8;
    filter: blur(5rem);
    background-color: black;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
}
