div.appGroupSmall {
    box-sizing: border-box;
    height: 10rem;
    width: 10rem;
    z-index: 2;
}

div.appGroupSmallBackground {
    background-color: rgba(255, 255, 255, 0.4);    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    border-radius: 1rem;
    border-right: 1px solid white;
    border-top: 1px solid white;
    box-sizing: border-box;
    display: inline-block;
    height: 100%;
    width: 100%;
}

div.appGroupSmallContainer {
    align-content: flex-start;
    background-size: auto;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

div.appGroupSmallTitle {
    display: block;
    text-align: center;
}

div.appGroupSmallTitle h3 {
    font-weight: 100;
    margin: 0.4rem 0 1.6rem;
}
