div.desktop-container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    overflow-y: scroll;
    position: relative;
    padding: 5rem 4rem 0 0;
    width: 100%;
}
