div.desktop-container {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 100%;
    position: relative;
    padding: 5rem 4rem 3rem 0;
    width: 100%;
}
