div.mccordinatorHead {
    background-image: url('../../res/mccordinator2_head.png');
    background-position: center center;
    background-repeat: no-repeat;
    bottom: 1rem;
    height: 13rem;
    position: fixed;
    right: 3rem;
    width: 9rem;
}

div.mccordinatorSpeechBubble {
    background-color: lightgoldenrodyellow;
    border: 0.1rem solid saddlebrown;
    border-radius: 1rem;
    box-shadow: -15px 15px 50px -12px #000;
    -moz-box-shadow: -15px 15px 50px -12px #000;
    -webkit-box-shadow: -15px 15px 50px -12px #000;
    bottom: 15rem;
    position: fixed;
    right: 3rem;
    min-width: 10rem;
    max-width: 20rem;
    z-index: 2;
}

div.mccordinatorSpeechBubble::after {
    background: lightgoldenrodyellow;
    border-top: 0.1rem solid saddlebrown;
    border-right: 0.1rem solid saddlebrown;
    bottom: -1.2rem;
    -webkit-box-shadow: 19px -30px 50px -10px #000;
    box-shadow: 19px -30px 50px -10px #000;
    content: "";
    height: 2rem;
    position: absolute;
    right: 6rem;
    -webkit-transform: rotate(90deg) skew(-50deg);
    -ms-transform: rotate(90deg) skew(-50deg);
    transform: rotate(90deg) skew(-45deg);
    width: 2rem;
    z-index: -1;
}

div.mccordinatorSpeechBubble p {
    border-bottom: 0.1rem solid saddlebrown;
    box-sizing: border-box;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.4rem;
    margin: 0;
    padding: 1rem;
    text-align: justify;
    width: 100%;
}

div.mccordinatorSpeechBubble span {
    box-sizing: border-box;
    color: black;
    display: block;
    font-size: 1rem;
    font-weight: bold;
    height: 1rem;
    margin: 0.5rem 1rem 0;
    width: calc(100% - 2rem);
}

div.mccordinatorSpeechBubble span:hover {
    background-color: lightgrey;
}

div.mccordinatorSpeechBubble span:first-child {
    margin-top: 1rem;
}
div.mccordinatorSpeechBubble span:last-child {
    margin-bottom: 1rem;
}
