div.folderApp {
    display: flex;
    flex-wrap: wrap;
    height: 8rem;
    justify-content: center;
    padding: 1rem;
    width: 8rem;
}

div.folderAppBackground {
    border-radius: 1rem;
   height: 6rem;
   width: 6rem; 
}

div.folderAppTitle {
    width: 100%;
    text-align: center;
}