div.desktopApp {
    display: flex;
    flex-wrap: wrap;
    height: 8rem;
    justify-content: center;
    padding: 1rem;
    width: 8rem;
}

div.desktopAppBackground {
    border-radius: 1rem;
    box-shadow: 0 9px 6px -6px black;
    height: 6rem;
    margin-bottom: 0.5rem;
    width: 6rem;
}

div.desktopAppTitle {
    /* background: linear-gradient(to right, transparent, #111, transparent); */
    margin-top: 0.4rem;
    text-align: center;
    width: 100%;
}

div.desktopAppTitle h3 {
    margin: 0;
}