div.desktopApp {
    cursor: pointer;
    height: 9rem;
    padding: 0 1rem;
    width: 7rem;
}

div.desktopAppBackground {
    border-radius: 1rem;
    -webkit-box-shadow: 0 9px 6px -6px black;
    box-shadow: 0 9px 6px -6px black;
    height: 4rem;
    margin: 0.5rem auto;
    transition: all 1s ease-in;
    width: 4rem;
}

div.desktopAppTitle {
    /* background: linear-gradient(to right, transparent, #111, transparent); */
    margin-top: 0.4rem;
    text-align: center;
    width: 100%;
}

div.desktopAppTitle h3 {
    margin: 0;
}