div.mobileContainer {
    background: linear-gradient(#2c73ba, #5A7B9B); 
    height: 100vh;
    padding-top: 1rem;
}

div.appgroupContainer {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    height: 55%;
    padding: 1rem;
    margin-top: 1rem;
}

div.osImage {
    margin: 0 auto;
    width: 50%;
}

div.osImage img {
    display: block;
    margin: 0 auto;
}
