div.mobileContainer {
    height: 100vh;
    padding-top: 1rem;
}

div.appgroupContainer {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    padding: 1.2rem 1rem 1rem;;
}

div.osImage {
    height: 20rem;
    left: calc(50% - 7.5rem);
    opacity: 0.8;
    position: fixed;
    top: calc(50% - 10rem);
    width: 15rem;
}

div.osImage img {
    display: block;
    margin: 0 auto;
    height: 20rem;
    width: 15rem;
}
