div.desktopGroupTitle {
    display: inline-block;
    cursor: pointer;
    height: 8rem;
    width: 12rem;
}

div.desktopGroupFolder {
    height: 8rem;
    margin: 0;
    position: relative;
    width: 12.4rem;
}

/* div.desktopGroupFolder.expanded {
    height: 6rem;
    top: 2rem;
} */

/* div.desktopGroupFolder.expanded::before {
    height: 4rem;
    top: -2rem;
}

div.desktopGroupFolder.expanded::after {
    transform: rotateX(-50deg);
    top: -0.55rem;
} */

/* div.desktopGroupFolder.expanded h1.desktopGroupTitle {
    transform: rotateX(-50deg);
    top: 1rem;
} */
    
div.desktopGroupFolder_back {
    background-color: saddlebrown;
    border-radius: 1rem 0 0 1rem;
    display: inline-block;
    height: calc(100% - 1rem);
    left: 0;
    position: absolute;
    top: 2rem;
    width: 6rem;
}

div.desktopGroupFolder_back::before {
    content: '';
    border-left: 2rem solid transparent;
    border-bottom: 2rem solid saddlebrown;
    height: 0;
    position: absolute;
    right: 0;
    top: -1rem;
    width: 0;
}

div.desktopGroupFolder_back::after {
    background-color: saddlebrown;
    border-radius: 0 1rem 0 0;
    content: '';
    display: inline-block;
    height: 8rem;
    left: 6rem;
    position: absolute;
    top: -1rem;
    width: 6rem;
}

/* div.desktopGroupFolder_front {
    background-color: goldenrod;
    display: inline-block;
    height: 100%;
    position: absolute;
    width: 8rem;
} */

div.desktopGroupFolder_front {
    background-color: goldenrod;
    border-radius: 1rem 0 0 1rem;
    display: inline-block;
    height: calc(100% - 1rem);
    left: -0.2rem;
    position: absolute;
    top: 3rem;
    width: 6.2rem;
}

div.desktopGroupFolder_front::before {
    content: '';
    border-left: 2rem solid transparent;
    border-bottom: 2rem solid goldenrod;
    height: 0;
    position: absolute;
    right: 0.2rem;
    top: -1rem;
    width: 0;
}

div.desktopGroupFolder_front::after {
    background-color: goldenrod;
    border-radius: 0 1rem 1rem 0;
    content: '';
    display: inline-block;
    height: 8rem;
    left: 6rem;
    position: absolute;
    top: -1rem;
    width: 6.4rem;
}

h1.desktopGroupTitle {
    background-color: whitesmoke;
    color: saddlebrown;
    display: block;
    font-size: 2rem;
    left: 0;
    margin: 0;
    position: absolute;
    text-align: center;
    top: 1.6rem;
    width: 12.4rem;
    z-index: 2;
}

div.desktopAppGroupWrapper {
    height: 9rem;
    transition: height 0.3s ease-out;
    width: 100%;
}

/* div.desktopAppGroupWrapper.expanded { */
    /* height: 13rem; */
/* } */

div.desktopAppWrapper {
    display: -ms-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 9rem;
    max-width: 0;
    overflow: hidden;
    position: relative;
    top: -0.5rem;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    visibility: hidden;
    width: fit-content;
}

div.desktopAppWrapper.expanded {
    max-width: 100%;
    visibility: visible;
}