/* div.desktopGroupTitleWrapper {
    background: linear-gradient(to right, transparent, #111, transparent);
} */

div.desktopGroupTitle {
    /* left: 1rem; */
    /* position: relative; */
    /* top: 12rem; */
    /* transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg); */
    /* -webkit-transform-origin: left; */
    /* -ms-transform-origin: left; */
    /* transform-origin: left; */
    width: fit-content;
}

h1.desktopGroupTitle {
    display: block;
    font-size: 2rem;
    margin: 0;
    padding-left: 1rem;
    /* background: -webkit-linear-gradient(0.45turn, transparent, white 60%); */
    /* background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

div.desktopAppGroupWrapper {
    border-bottom: 1px solid lightgrey;
    height: 3rem;
    margin-top: 1.2rem;
    transition: height 0.3s ease-out;
    width: 100%;
}

div.desktopAppGroupWrapper.expanded {
    height: 13rem;
}

/* div.desktopAppGroupWrapper:nth-child(n+4) { */
    /* border: none; */
/* } */

div.desktopAppGroupWrapper + div.desktopAppGroupWrapper {
    /* margin-top: 1.2rem; */
}

div.desktopAppWrapper {
    display: flex;
    /* transition: max-height 0.5s, visibility 0.3s ease-out; */
    transition: all 0.3s ease-out;
    max-height: 0;
    visibility: hidden;
    overflow: hidden;
    flex-wrap: wrap;
    /* margin-bottom: 1rem; */
    width: 100%;
}

div.desktopAppWrapper.expanded {
    max-height: 10rem;
    visibility: visible;
}